<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
    </head>
    <body>
        <%= include("header.ejs") %>
        <h2>Welcome to Georgia's Book recommendation System</h2>
        <p>Browse the vast collection of books from other users or create your own. Sign up to get started</p>
        <%= include("footer.ejs") %>
    </body>
</html>